/AirportBaggageClaimInfoSystem/bin
/AirportBaggageClaimInfoSystem/obj
/FibonacciNumber/obj
/FibonacciNumber/bin
/interpolated-quickstart/bin
/interpolated-quickstart/obj
/myNetCoreApp/obj
/myNetCoreApp/bin
